@import "define";
@import "reuse";
/*手机*/
@media screen and (max-width: 768px) {

    .header-wrap {
        height: j(60);
        padding: 0 j(10);
        font-size: 16px !important;
    }
    .header-home {
        display: flex;
        align-items: center;
        height: 100%;
    }
    //todo 暂时让top为负值，避免浏览器切换手机模式时，nav自动滑出收回一次
    .navbar {
        //position: absolute;
        position: fixed;
        top: -250px;
        left: 0;
        right: 0;
        //margin-top: 46px;
        display: flex;
        flex-direction: column;
        opacity: 0.9;
        z-index: -1;
        //@include tft(translate3d(0, -160%, 0));
        @include tst(all, 0.3s);

        &.active {
            //@include tft(translate3d(0, 125%,0));
            top: 46px
        }

        &-item {
            padding: j(10) j(22);
            background: #fff;
            opacity: 1;
        }

        &-icon {
            display: block;
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 j(8);
        }
    }
    .main-wrap {
        //font-size: 16px !important;
        padding: 0 j(15);

        &.blog {
            padding: j(30) j(15);
        }

        &.home-content {

        }
    }
    .home-header {
        height: 75vh;
    }
    .blog {
        //padding: j(30) j(60);
        //display: flex;

        &-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: j(10) 0;
            padding: j(5) j(10);
            box-sizing: border-box;
            background-color: $theme-color-bright;
            border-radius: j(5);
            transform: translate3d(0,0,0);
            transition: all .2s;
            cursor: pointer;
            &:hover {
                transform:perspective(0) translateZ(0) scale(1.02,1.02);
            }

            &:first-child {
                margin-top: 0;
            }

            &-title {
                width: 100%;
                font-size: 20px;
            }

            &-subtitle {
                color: #999;
                padding: j(2) j(10) j(2) 0;
            }

            &-content {
                width: 100%;
                padding: j(1) 0;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                color: #666;
            }
        }
        &-content, .markdown {
            //display: flex;
            //flex-direction: column;
            //flex: 4;
            padding: j(20);
            border-radius: j(20);
            background-color: #fff;
        }

        //&-menu{
        //  display: flex;
        //  flex-direction: column;
        //  flex: 1;
        //  margin-left: j(15);
        //  min-width: j(150);
        //  padding: j(10) j(15);
        //  border-radius: j(20);
        //  background-color: #fff;
        //  a{
        //    padding: j(3) j(10);
        //  }
        //}
    }
    .note {
        display: flex;
        width: 100%;

        &-bar {
            position: sticky;
            top: 50px;
            display: flex;
            margin-right: j(15);
            height: j(250);
            width: j(100);
            width: 10%;
            border-radius: j(20);
            padding: j(10) j(15);
            background-color: pink;
            cursor: pointer;
        }

        &-content, {
            display: flex;
            flex-direction: column;
            flex: 4;
            padding: j(20);
            border-radius: j(20);
            background-color: #fff;
            overflow-x: auto;
        }

        &-menu {
            position: sticky;
            top: 50px;
            //display: flex;
            //flex-direction: column;
            //flex: 1;
            margin-left: j(15);
            height: fit-content;
            min-height: j(250);
            max-width: j(150);
            width: 20%;
            padding: j(10) j(15);
            border-radius: j(20);
            word-break: break-word;
            background-color: #fff;

            a {
                padding: j(3) j(10);
            }
        }

        .head {
            padding-bottom: j(15);

            &-title {
                padding-bottom: j(5);
                font-size: j(18);
            }

            &-tag {
                font-size: 10px;
                padding: j(2) j(5);
                border-radius: j(3);
                margin-right: j(5);
                text-align: center;
                color: #fff;
                background-color: #bbb;
            }

            &-date {
                font-size: 10px;
                padding: j(2) j(3);
                border-radius: j(3);
                margin-right: j(5);
                text-align: center;
                color: #999;
            }
        }
    }
}

/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px) {

    .header-wrap {
        height: j(45);
        padding: 0 j(10);
        font-size: 16px !important;

    }
    .header-home {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .navbar {
        //position: absolute;
        position: fixed;
        top: -250px;
        left: 0;
        right: 0;
        //margin-top: 46px;
        display: flex;
        flex-direction: column;
        opacity: 0.9;
        z-index: -1;
        //@include tft(translate3d(0, -160%, 0));
        @include tst(all, 0.3s);

        &.active {
            @include tft(translate3d(0, 129%, 0));
        }

        &-item {
            padding: j(10) j(22);
            background: #fff;
            opacity: 1;
        }

        &-icon {
            display: block;
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 j(8);
        }

    }
    .main-wrap {
        font-size: 16px !important;
        padding: 0 j(15);
    }
    .blog {
        padding: j(30) j(15);
        //display: flex;
        &-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: j(10) 0;
            padding: j(5) j(10);
            box-sizing: border-box;
            background-color: $theme-color-bright;
            border-radius: j(5);
            transform: translate3d(0,0,0);
            transition: all .2s;
            cursor: pointer;
            &:hover {
                transform:perspective(0) translateZ(0) scale(1.02,1.02);
            }

            &:first-child {
                margin-top: 0;
            }

            &-title {
                width: 100%;
                font-size: 20px;
            }

            &-subtitle {
                color: #999;
                padding: j(2) j(10) j(2) 0;
            }

            &-content {
                width: 100%;
                padding: j(1) 0;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                color: #666;
            }
        }
        &-content, .markdown {
            //display: flex;
            //flex-direction: column;
            //flex: 4;
            padding: j(20);
            border-radius: j(20);
            background-color: #fff;
        }

        //&-menu{
        //  display: flex;
        //  flex-direction: column;
        //  flex: 1;
        //  margin-left: j(15);
        //  min-width: j(150);
        //  padding: j(10) j(15);
        //  border-radius: j(20);
        //  background-color: #fff;
        //  a{
        //    padding: j(3) j(10);
        //  }
        //}
    }

    .note {
        display: flex;
        width: 100%;

        &-bar {
            position: sticky;
            top: 50px;
            display: flex;
            margin-right: j(15);
            height: j(250);
            width: j(100);
            width: 10%;
            border-radius: j(20);
            padding: j(10) j(15);
            background-color: pink;
            cursor: pointer;
        }

        &-content, {
            display: flex;
            flex-direction: column;
            flex: 4;
            padding: j(20);
            border-radius: j(20);
            background-color: #fff;
            overflow-x: auto;
        }

        &-menu {
            position: sticky;
            top: 50px;
            //display: flex;
            //flex-direction: column;
            //flex: 1;
            margin-left: j(15);
            height: fit-content;
            min-height: j(250);
            max-width: j(150);
            width: 20%;
            padding: j(10) j(15);
            border-radius: j(20);
            word-break: break-word;
            background-color: #fff;

            a {
                padding: j(3) j(10);
            }
        }

        .head {
            padding-bottom: j(15);

            &-title {
                padding-bottom: j(5);
                font-size: j(18);
            }

            &-tag {
                font-size: 10px;
                padding: j(2) j(5);
                border-radius: j(3);
                margin-right: j(5);
                text-align: center;
                color: #fff;
                background-color: #bbb;
            }

            &-date {
                font-size: 10px;
                padding: j(2) j(3);
                border-radius: j(3);
                margin-right: j(5);
                text-align: center;
                color: #999;
            }
        }
    }
}

/*中等屏幕*/
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .header-wrap {
        height: j(36);
        padding: 0 j(60);

        a.router-link-active {
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 15%;
                height: 2px;
                width: 70%;
                border-radius: 2px;
                background-image: linear-gradient(
                        90deg, #2db7f5, #6bc30d);
                transition: all 0.3s ease;
            }
        }
    }
    .header-home {
        &-logo {
            padding: 0 j(5) 0 0 !important;
        }
    }
    .view-wrap {
        font-size: 14px;
    }
    .navbar {
        display: block !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        height: 100%;

        &-icon {
            display: none;
        }

        &-item {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 j(15);

            &:hover {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 15%;
                    height: 2px;
                    width: 70%;
                    border-radius: 2px;
                    background-image: linear-gradient(90deg, #2db7f5, #6bc30d);
                    transition: all 0.3s ease;
                }
            }
        }
    }
    .main-wrap {
        padding: 0 j(60);
        overflow-y: unset;
    }
    .blog {
        padding: j(30) j(60);
        display: flex;

        &-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: j(10) 0;
            padding: j(5) j(10);
            box-sizing: border-box;
            background-color: $theme-color-bright;
            border-radius: j(5);
            transition: all .2s;
            cursor: pointer;

            &:hover {
                transform: scale(1.02)
            }

            &:first-child {
                margin-top: 0;
            }

            &-title {
                width: 100%;
                font-size: 20px;
            }

            &-subtitle {
                color: #999;
                padding: j(2) j(10) j(2) 0;
            }

            &-content {
                width: 100%;
                padding: j(2) 0;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                color: #666;
            }
        }

        &-content, .markdown {
            display: flex;
            flex-direction: column;
            flex: 4;
            padding: j(20);
            border-radius: j(20);
            background-color: #fff;
        }

        &-menu {
            position: sticky;
            top: 50px;
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-left: j(15);
            min-width: j(150);
            height: fit-content;
            min-height: j(250);
            padding: j(10) j(15);
            border-radius: j(20);
            background-color: #fff;

            a {
                padding: j(3) j(10);
                color: #333;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .note {
        display: flex;
        width: 100%;

        &-bar {
            position: sticky;
            top: 50px;
            display: flex;
            margin-right: j(15);
            height: j(250);
            width: j(100);
            width: 10%;
            border-radius: j(20);
            padding: j(10) j(15);
            background-color: pink;
            cursor: pointer;
        }

        &-content, {
            display: flex;
            flex-direction: column;
            flex: 4;
            padding: j(20);
            border-radius: j(20);
            background-color: #fff;
            overflow-x: auto;
        }

        &-menu {
            position: sticky;
            top: 50px;
            //display: flex;
            //flex-direction: column;
            //flex: 1;
            margin-left: j(15);
            height: fit-content;
            min-height: j(250);
            max-width: j(150);
            width: 20%;
            padding: j(10) j(15);
            border-radius: j(20);
            word-break: break-word;
            background-color: #fff;

            a {
                padding: j(3) j(10);
            }
        }

        .head {
            padding-bottom: j(15);

            &-title {
                padding-bottom: j(5);
                font-size: j(18);
            }

            &-tag {
                font-size: 10px;
                padding: j(2) j(5);
                border-radius: j(3);
                margin-right: j(5);
                text-align: center;
                color: #fff;
                background-color: #bbb;
            }

            &-date {
                font-size: 10px;
                padding: j(2) j(3);
                border-radius: j(3);
                margin-right: j(5);
                text-align: center;
                color: #999;
            }
        }
    }
}

/*大屏幕，或者宽屏*/
@media screen and (min-width: 1200px) {

    .header-wrap {
        height: j(36);
        padding: 0 j(60);

        a.router-link-active {
            &:after {
                content: '';
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: 0;
                height: 2px;
                width: j(30);
                border-radius: 3px;
                background-color: #52BDA9;
            }

        }
    }

    .header-home {
        &-logo {
            padding: 0 j(5) 0 0 !important;
        }
    }
    .view-wrap {
        font-size: 14px;
    }
    .navbar {
        //display: block!important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        height: 100%;

        &-icon {
            display: none;
        }

        &-item {
            //position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0 j(15);
        }
    }
    .main-wrap {
        padding: 0 j(60);
        overflow-y: unset;
    }
    .blog {
        padding: j(30) j(60);
        display: flex;

        &-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: j(10) 0;
            padding: j(5) j(10);
            box-sizing: border-box;
            background-color: $theme-color-bright;
            border-radius: j(5);
            transform: translate3d(0,0,0);
            transition: all .2s;
            cursor: pointer;
            &:hover {
                transform:perspective(0) translateZ(0) scale(1.02,1.02);
            }

            &:first-child {
                margin-top: 0;
            }

            &-title {
                width: 100%;
                font-size: 20px;
            }

            &-subtitle {
                color: #999;
                padding: j(2) j(10) j(2) 0;
            }

            &-content {
                width: 100%;
                padding: j(1) 0;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                color: #666;
            }
        }

        &-content, .markdown {
            display: flex;
            flex-direction: column;
            flex: 4;
            padding: j(20);
            border-radius: j(20);
            background-color: #fff;
            z-index: 1;
        }

        &-menu {
            position: sticky;
            top: 50px;
            display: flex;
            flex-direction: column;
            flex: 1;
            width: 20%;
            margin-left: j(15);
            min-width: j(150);
            height: fit-content;
            min-height: j(250);
            padding: j(10) j(15);
            border-radius: j(20);
            background-color: #fff;
            z-index: 1;
            a {
                padding: j(0) j(10);
                margin: j(3);
                color: #333;
                transition: all .2s;
                box-sizing: border-box;
                transform:translate3d(0,0,0);
                &:hover {
                    transform:perspective(0) translateZ(0) scale(1.02,1.02);
                }
            }
        }
    }

    .note {
        display: flex;
        width: 100%;

        &-bar {
            position: sticky;
            top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-right: j(15);
            height: j(250);
            width: j(20);
            border-radius: j(20);
            padding: j(20) j(15);
            background-color: #fff;
            z-index: 1;
        }

        &-content {
            display: flex;
            flex-direction: column;
            flex: 4;
            padding: j(20);
            border-radius: j(20);
            background-color: #fff;
            overflow-x: auto;
            z-index: 1;
        }

        &-menu {
            position: sticky;
            top: 50px;
            //display: flex;
            //flex-direction: column;
            //flex: 1;
            margin-left: j(15);
            height: fit-content;
            min-height: j(250);
            max-width: j(150);
            width: 20%;
            padding: j(10) j(15);
            border-radius: j(20);
            word-break: break-word;
            background-color: #fff;
            z-index: 1;

            a {
                padding: j(3) j(10);
            }
        }

        .head {
            padding-bottom: j(15);

            &-title {
                padding-bottom: j(5);
                font-size: j(18);
            }

            &-tag {
                font-size: 10px;
                padding: j(2) j(5);
                border-radius: j(3);
                margin-right: j(5);
                text-align: center;
                color: #fff;
                background-color: #bbb;
            }

            &-date {
                font-size: 10px;
                padding: j(2) j(3);
                border-radius: j(3);
                margin-right: j(5);
                text-align: center;
                color: #999;
            }
        }
    }
}
